body{
  margin: 0;
}
header {
	background-color: #566A9B;
    color: #fff;
    padding: 15px;
    height: 50px;
}
#page-heading {
	font-size: 18px;
	color: #fff;
}
footer {
	background-color: #38486E;
    color: #fff;
    height: 40px;
    width: 100%;
    font-size: 12px;
    padding: 15px;
}
#main-container {
    height: 90%;
}
#main-container::after {
    content: "";
    display: block;
    height: 100px;
}
#table-container {
	margin: 0 auto;
	width: 600px;
	clear: both;
}
#table-container::after {
 	content: "";
    display: block;
    height: 100px;
 }
#displayTable {
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: left;
}
#displayTable th, td {
    padding: 15px;
    border: 1px solid #ddd;
    width: 300px;
}
#form-group {
	float: right;
	margin: 40px;
}